@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

*{
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-image: url('../Img/wallpapper.jpg');
    background-size: cover;
    position: center;
    height: 130vh;
}

.app{
    display: flex;
    justify-content: center;
    height: 70vh;
    background-color: #070506;
    color: white;
    overflow: hidden;
}

.mao{
    position: relative;
    bottom: -30px;
}

.appCelular{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

.baixarApp{
    margin-left:-20px ;
    width: 45%;
    height: 120px;
    cursor: pointer;
}

.appCelular h2{
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.37);
    font-family: 'Berkshire Swash', serif;
    color: #855638;
    font-size: 50px;
}

.appCelular p{
    margin-top: 15px;
    font-size: 22px;
    width: 75%;
}

.encontre{
    height: 90vh;
    display: flex;
    justify-content: center;
    background-color: #1b1719;
}

.encontre h2{
    font-family: 'Berkshire Swash', serif;
    color: #855638;
    font-size: 40px;
    margin-top: 120px;
}

.texto{
    margin-right: 50px;
    text-align: center;
}

.texto span{
    color: rgb(19, 165, 19);
}

.texto img{
    width: 70%;
    height: 70px;
    margin-top: 20px;
    cursor: pointer;
}

.encontre p{
    font-size: 20px;
    color: white;
    margin-top: 10px;
}

.encontre iframe{
    border-radius: 10px;
    margin-top: 50px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #070506;
    color: rgba(255, 255, 255, 0.445);

}

























/* Aqui começa o responsivo */


/* Telas grandes (Desktop) */
@media only screen and (min-width: 768px) and (max-width: 1280px){

    header{
        background-image: url('../Img/wallpapper.jpg');
        background-size: cover;
        position: center;
        height: 100vh;
    }

    .app{
        display: flex;
        justify-content: center;
        height: 50vh;
        background-color: #070506;
        color: white;
        overflow: hidden;
    }

    .encontre{
        height: 73vh;
        display: flex;
        justify-content: center;
        background-color: #1b1719;
    }
    
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    header{
        background-image: url('../Img/wallpapper.jpg');
        background-size: cover;
        position: center;
        height: 50vh;
    }

    .app{
        display: flex;
        justify-content: center;
        height: 35vh;
        background-color: #070506;
        color: white;
        overflow: hidden;
    }

    

 }


  